.jumbotron {
  /* //height: 450px; */
  width: 100%;
  /* //background: url('./img/old-car-wallpaper.jpg') no-repeat; */
  /* background-attachment: fixed; */
  opacity: 0.7;
  background-size: cover;
  background-position: bottom center;
  background-origin: content-box;
  background-color:rgba(0, 0, 0, 0.5);
}

.jumbotron:hover {
  opacity: 1;
}


.content, .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: #555556!important;
}

.wrapper {
  height: 500px;
}

[class^='imghvr-'],
[class*=' imghvr-'] {
  background-color: #3a3939;
}