.paginationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationWrapper .paginationBtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #252525;
  border-radius: 4px;
  margin: 5px;
  box-shadow: inset 0 5px 10px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.5);
  transition: all .3s ease;
}

.paginationWrapper .paginationBtn:hover {
  color: #fff;
  background-color: #5383d3;
}

.buyCarForm {
  margin-top: 20px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  width: 400px;
  border-radius: 15px;
}

.buyCarWrapper {
  height: calc(100vh - 64px);
  background-color: #605a57;
  padding-top: 20px;
}