html, body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
}
.App {
  height: 100vh;
  background: linear-gradient(to bottom, #333336, #222227);
}



/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
