* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

.App {
  min-height: 100vh;
  background: #484745;
}



/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
