.header{
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
}

.header .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header .header-limiter h1{
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header .header-limiter h1 span {
	color: #5383d3;
}

/* The navigation links */

.header .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header .header-limiter nav a{
	font-size: 14px;
	display: inline-block;
	padding: 0 5px;
	opacity: 0.9;
	text-decoration:none;
	line-height: 1;
}

.header .header-limiter nav a:hover {
  opacity: 1;
  color: #608bd2;
}

/* Login/Sign up buttons */

.header .header-limiter ul {
	font: 14px Arial, Helvetica, sans-serif;
	list-style: none;
	line-height: 1;
	float: right;
}

.header .header-limiter ul li {
	display: inline-block;
	margin-left: 15px;
	opacity:0.9;
}

.header .header-limiter ul li:hover{
	opacity: 1;
}

/* The sign up button */

.header .header-limiter ul li:last-child a {
	font-weight: bold;
	background-color: #3a3c3e;
	padding: 10px 15px;
	border-radius: 3px;
}

/* Making the header responsive */

@media all and (max-width: 600px) {

	.header {
		padding: 25px;
		height: 85px;
	}

	.header .header-limiter h1 {
		float: none;
		margin: -8px 0 2px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header .header-limiter nav {
		margin: 0;
		float: none;
	}

	.header .header-limiter nav li a {
		font-size: 13px;
	}

	.header .header-limiter ul {
		display: none;
	}

}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

.pulse {
	animation-name: pulse_animation;
	animation-duration: 5000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}