
.content {
  height: calc(100vh - 68px);
  color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

[class^='imghvr-'],
[class*=' imghvr-'] {
  background-color: #6b5157;
  min-width: 100%;
}

.main-title { 
  color: #f5f5f5;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 275px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}


.subtitle {
  color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 72px;
  text-align: center;
}

.attentionText {
  color: #5383d3;
  text-shadow:
  -1px -1px 0 #f5f5f5,  
   1px -1px 0 #f5f5f5,
   -1px 1px 0 #f5f5f5,
    1px 1px 0 #f5f5f5;
}

.pulse-action {
  width: 350px;
  height: 70px;
  box-shadow: 0 0 0 rgba(236, 63, 11, 0.4);
  animation: pulse-action 1.2s infinite;
}

.pulse-action:hover {
  animation: none;
}

@keyframes pulse-action {
  0% {
    box-shadow: 0 0 0 0 rgba(44, 47, 204, 0.2);
  }
  70% {
      box-shadow: 0 0 0 10px rgba(11, 236, 225, 0.2);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@media all and (max-width: 1500px) {
  .main-title {
    font-size: 175px;
  }
}

@media all and (min-width: 650px) and (max-width: 1499px) {
  .main-title {
    font-size: 125px;
  }
}

@media all and (min-width: 350px) and (max-width: 649px) {
  .main-title {
    font-size: 95px;
  }
  .subtitle {
    font-size: 20px;
  }
}
